.directory
mountpoints/apps/*
!mountpoints/apps/index.html
!mountpoints/apps/example-app
!mountpoints/apps/virtual_wardy
!mountpoints/apps/Machine_Learning_Companion
!mountpoints/apps/PHE_Interventions
